@page
@model BraunauMobil.VeloBasar.Pages.Acceptances.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Acceptance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Acceptance.SellerId" class="control-label"></label>
                <select asp-for="Acceptance.SellerId" class ="form-control" asp-items="ViewBag.SellerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Acceptance.Number" class="control-label"></label>
                <input asp-for="Acceptance.Number" class="form-control" />
                <span asp-validation-for="Acceptance.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceptance.TimeStamp" class="control-label"></label>
                <input asp-for="Acceptance.TimeStamp" class="form-control" />
                <span asp-validation-for="Acceptance.TimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acceptance.BasarId" class="control-label"></label>
                <select asp-for="Acceptance.BasarId" class ="form-control" asp-items="ViewBag.BasarId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
