@page
@model BraunauMobil.VeloBasar.Pages.Acceptances.StartNewModel

@{
    ViewData["Title"] = "Neue Annahme";
}

<h2>Neue Annahme</h2>
<a asp-page="/Sellers/Create" asp-route-basarId="@Model.Basar.Id" class="btn btn-default">Neue Verkäuferin</a>
<a asp-page="/Sellers/List" asp-route-basarId="@Model.Basar.Id" class="btn btn-default">Verkäuferin suchen</a>
