@using Microsoft.Extensions.Localization
@model DataGeneratorConfiguration
@{
    Layout = "_LayoutSimple";
    ViewData.SetTitle(Localizer["DEV DELETE COOKIES"]);
}

<form method="post">
    <div class="card m-2">
        <h4 class="card-header">
            @ViewData.Title()
        </h4>
        <div class="card-body">
            @VeloHtml.Alert(MessageType.Danger, Localizer["This deletes all cookies."])
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">@Localizer[VeloTexts.Ok]</button>
        </div>
    </div>
</form>
