@page
@model SelectAcceptanceModel
@{
    ViewData["Title"] = Localizer["Etiketten Drucken"];
}

<form method="post" target="_blank">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div><h5 class="mx-2">@Localizer["Annahme Nummer"]</h5></div>

            <input class="mx-2" asp-for="@Model.AcceptanceNumber" />

            <div><input class="mx-2 btn btn-primary" type="submit" value="@Localizer["Ok"]" /></div>
        </div>

        <div class="card-body p-0">
        </div>
    </div>
</form>