@inject Logic.IBasarContext basarContext
@{
    if (VeloContext.SignInManager.IsSignedIn(User))
    {
        if (basarContext.HasBasars())
        {
            ViewData["Basars"] = basarContext.GetSelectList();
            <form>
                <select id="basarId" class="form-control" asp-for="@VeloContext.Basar.Id" asp-items="ViewBag.Basars" onchange="onChange()"></select>
                <script type="text/javascript">
                    function onChange() {
                        var url = "@(Utils.GetPageForModel<SetBasarInCookiesModel>())?BasarId=" + $('#basarId').val();
                        window.location = url;
                    }
                </script>
            </form>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Keine Basare verfügbar
            </div>
        }
    }
    else if (VeloContext.Basar != null)
    {
        @VeloContext.Basar.Name
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Kein Basar aktiv
        </div>
    }
}
