@page
@model CreateModel

@{
    ViewData["Title"] = "Neuen Basar erstellen";
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" velo-page="(this.GetPage<ListModel>())" />
                <a velo-page="(this.GetPage<ListModel>())" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label asp-for="BasarToCreate.Date" class="col-2 col-form-label"></label>
                <input asp-for="BasarToCreate.Date" class="col-10 form-control" velo-validation-for="BasarToCreate.Date" />
            </div>
            <div class="form-group row">
                <label asp-for="BasarToCreate.Name" class="col-2 col-form-label"></label>
                <input asp-for="BasarToCreate.Name" class="col-10 form-control" velo-validation-for="BasarToCreate.Name" />
            </div>
            <div class="form-group row">
                <label asp-for="BasarToCreate.Location" class="col-2 col-form-label"></label>
                <input asp-for="BasarToCreate.Location" class="col-10 form-control" velo-validation-for="BasarToCreate.Location" />
            </div>
            <div class="form-group row">
                <label asp-for="BasarToCreate.ProductCommissionPercentage" class="col-2 col-form-label"></label>
                <input asp-for="BasarToCreate.ProductCommissionPercentage" class="col-10 form-control" velo-validation-for="BasarToCreate.ProductCommissionPercentage" />
            </div>
        </div>
    </div>
</form>