@page
@model CreateModel

@{
    ViewData["Title"] = "Neuen Basar erstellen";
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" velo-page="(this.GetPage<ListModel>())" />
                <a velo-page="(this.GetPage<ListModel>())" class="btn btn-secondary mx-1">@Localizer["Abbrechen"]</a>
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <div class="form-group">
                    <label asp-for="BasarToCreate.Date" class="control-label"></label>
                    <input asp-for="BasarToCreate.Date" class="form-control" velo-validation-for="BasarToCreate.Date" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToCreate.Name" class="control-label"></label>
                    <input asp-for="BasarToCreate.Name" class="form-control" velo-validation-for="BasarToCreate.Name" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToCreate.Location" class="control-label"></label>
                    <input asp-for="BasarToCreate.Location" class="form-control" velo-validation-for="BasarToCreate.Location" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToCreate.ProductCommission" class="control-label"></label>
                    <input asp-for="BasarToCreate.ProductCommission" class="form-control" velo-validation-for="BasarToCreate.ProductCommission" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToCreate.ProductDiscount" class="control-label"></label>
                    <input asp-for="BasarToCreate.ProductDiscount" class="form-control" velo-validation-for="BasarToCreate.ProductDiscount" />
                </div>
                <div class="form-group">
                    <label asp-for="BasarToCreate.SellerDiscount" class="control-label"></label>
                    <input asp-for="BasarToCreate.SellerDiscount" class="form-control" velo-validation-for="BasarToCreate.SellerDiscount" />
                </div>
            </div>
        </div>
    </div>
</form>