@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Basar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Basar.Date" class="control-label"></label>
                <input asp-for="Basar.Date" class="form-control" />
                <span asp-validation-for="Basar.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basar.Name" class="control-label"></label>
                <input asp-for="Basar.Name" class="form-control" />
                <span asp-validation-for="Basar.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basar.ProductCommission" class="control-label"></label>
                <input asp-for="Basar.ProductCommission" class="form-control" />
                <span asp-validation-for="Basar.ProductCommission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basar.ProductDiscount" class="control-label"></label>
                <input asp-for="Basar.ProductDiscount" class="form-control" />
                <span asp-validation-for="Basar.ProductDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basar.SellerDiscount" class="control-label"></label>
                <input asp-for="Basar.SellerDiscount" class="form-control" />
                <span asp-validation-for="Basar.SellerDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
