@model TransactionsViewModel

<table class="table table-striped m-0" Condition="Model.NotEmpty">
    <thead>
        <tr>
            <partial name="/Pages/Transactions/_TransactionViewRowHeader.cshtml" model="@Model.ViewModels[0]" />
            @for (var count = 0; count < Model.Commands.Count; count++)
            {
                <th style="width: auto;" scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model.ViewModels)
        {
            <tr>
                <partial name="/Pages/Transactions/_TransactionViewRow.cshtml" model="@viewModel" />
                @foreach (var command in Model.Commands)
                {
                    <td>
                        @if (command.IsEnabled(viewModel))
                        {
                            <a velo-page="@command.GetPage(viewModel)">@command.Text</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
