@model SellerEntity

<div class="row">
    @VeloHtml.TextInputField(nameof(Model.FirstName), Model.FirstName, Localizer[VeloTexts.FirstName], autoFocus: true)
    @VeloHtml.TextInputField(nameof(Model.LastName), Model.LastName, Localizer[VeloTexts.LastName])
</div>
