@model decimal
<td style="width: auto;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 20%;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 30%;" scope="col"></td>
<td style="width: 10%;" scope="col">@Localizer["Summe"]</td>
<td style="width: 10%;" scope="col">@string.Format("{0:C}", Model)</td>
<td style="width: auto;" scope="col"></td>
