@model ProductsViewModel
<td style="width: auto;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 20%;" scope="col"></td>
<td style="width: 10%;" scope="col"></td>
<td style="width: 30%;" scope="col"></td>
<td style="width: 5%;" scope="col" Condition="Model.ShowSeller"></td>
<td style="width: 5%;" scope="col" align="right">@Localizer["Summe"]</td>
<td style="width: 10%;" scope="col">@string.Format("{0:C}", Model.FooterValue)</td>
<td style="width: auto;" scope="col"></td>
