@model ListViewModel<Product>

<table class="table table-striped m-0">
    <thead>
        <tr>
            <partial name="/Pages/Products/_PropertiesTableHeader.cshtml" model="@Model.List[0].Item" />
        </tr>
    </thead>
    <tbody>
        @foreach (var itemViewModel in Model.List)
        {
            <tr>
                <partial name="/Pages/Products/_PropertiesTableRow.cshtml" model="@itemViewModel.Item" />
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
           @*@todo  Price!!!???*@
            <partial name="/Pages/Products/_PropertiesTableFooter.cshtml"  model="@Model.List.Sum(x => x.Item.Price)" />
        </tr>
    </tfoot>
</table>
