@page
@model Products.ListModel

@{
    ViewData["Title"] = Localizer["Artikel"];
}

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div><h5 class="mx-2">@Localizer["Artikel"]</h5></div>
        <partial name="/Pages/Shared/_Search.cshtml" model="@Model" />
    </div>

    <div class="card-body p-0">
        <partial name="/Pages/Products/_TableWithControls.cshtml" model="@new ViewModels.ProductsViewModel(Model.Basar, Model.Products)" />
    </div>
</div>


<partial name="/Pages/Shared/_Pagination.cshtml" model="@Model" />
