@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Velo Basar</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Velo Basar</h2>
        <p>
            Bla Bla Bla
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/braunau-mobil/velo-basar">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>