@model ProductAnnotateModel
@{
    ViewData.SetTitle(Txt.LockProduct(Model.ProductId));
}

<partial name="_AnnotateEditor.cshtml" model="Model" />

<div class="m-2">
    @VeloHtml.Alert(MessageType.Info, @Txt.Info, @Txt.LockInfo)
</div>
