@model ProductAnnotateModel
@{
    ViewData.SetTitle(Localizer[VeloTexts.LostProduct, Model.ProductId]);
}
<partial name="_AnnotateEditor.cshtml" model="Model" />

<div class="m-2">
    @VeloHtml.Alert(MessageType.Info, Localizer[VeloTexts.Info], Localizer[VeloTexts.LostInfo])
</div>
