@model Margins

<div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-md-center">
        <div class="mr-auto"><h5>@Localizer["Seitenränder"]</h5></div>
    </div>

    <div class="card-body">
        <div class="form-group row">
            <label asp-for="Left" class="col-2 col-form-label"></label>
            <input asp-for="Left" class="col-10 form-control" velo-validation-for="Left" />
        </div>
        <div class="form-group row">
            <label asp-for="Top" class="col-2 col-form-label"></label>
            <input asp-for="Top" class="col-10 form-control" velo-validation-for="Top" />
        </div>
        <div class="form-group row">
            <label asp-for="Right" class="col-2 col-form-label"></label>
            <input asp-for="Right" class="col-10 form-control" velo-validation-for="Right" />
        </div>
        <div class="form-group row">
            <label asp-for="Bottom" class="col-2 col-form-label"></label>
            <input asp-for="Bottom" class="col-10 form-control" velo-validation-for="Bottom" />
        </div>
    </div>
</div>
