@page
@model SettingsModel

@{
    ViewData["Title"] = Localizer["Einstellungen"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" />
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <div class="form-group">
                    <label asp-for="ActiveBasarId" class="control-label"></label>
                    <select asp-for="ActiveBasarId" class="form-control" asp-items="ViewBag.Basars"></select>
                </div>
            </div>
        </div>
    </div>
</form>
