@page
@model SettingsModel

@{
    ViewData["Title"] = Localizer["Einstellungen"];
}

    <form method="post">
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="@Localizer["Speichern"]" class="btn btn-primary mx-1" />
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="VeloSettings.ActiveBasarId" class="col-2 col-form-label"></label>
                    <div class="col-10">
                        <select asp-for="VeloSettings.ActiveBasarId" class="form-control" asp-items="ViewBag.Basars"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-md-center">
                <div class="mr-auto"><h5>@Html.DisplayNameFor(x => Model.WordPressStatusPushSettings)</h5></div>
            </div>

            <div class="card-body">
                <div class="form-check form-check-inline form-group">
                    <input class="form-check-input" asp-for="VeloSettings.IsWordPressStatusPushEnabled"velo-validation-for="VeloSettings.IsWordPressStatusPushEnabled">
                    <label class="form-check-label" asp-for="VeloSettings.IsWordPressStatusPushEnabled"></label>
                </div>
                <div class="form-group row">
                    <label asp-for="WordPressStatusPushSettings.ApiKey" class="col-2 col-form-label"></label>
                    <div class="col-10">
                        <input asp-for="WordPressStatusPushSettings.ApiKey" class="form-control" velo-validation-for="WordPressStatusPushSettings.ApiKey" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="WordPressStatusPushSettings.EndpointUrl" class="col-2 col-form-label"></label>
                    <div class="col-10">
                        <input asp-for="WordPressStatusPushSettings.EndpointUrl" class="form-control" velo-validation-for="WordPressStatusPushSettings.EndpointUrl" />
                    </div>
                </div>
            </div>
        </div>
    </form>
