@media (min-width:992px) {
  .velo-sidebar {
  position:-webkit-sticky;
  position:sticky;
  display:block !important;
  height:calc(100vh - 6rem);
  padding-left:.25rem;
  margin-left:-.25rem;
  overflow-y:auto
}
@media (min-width:992px) {
  .velo-layout {
  display:grid;
  grid-template-areas:"sidebar main";
  grid-template-columns: auto 5fr;
  gap:1.5rem
}
}
