@page
@model StartModel

@{
    ViewData["Title"] = Localizer["Stornieren"];
}

<form method="post">
    <div class="card my-3">
        <div class="card-header d-flex justify-content-between align-items-md-center">
            <div class="mr-auto"><h5>@ViewData["Title"]</h5></div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="@Localizer["Weiter"]" class="btn btn-primary mx-1" />
            </div>
        </div>

        <div class="card-body">
            <div class="column">
                <div class="form-group">
                    <label asp-for="SaleNumber" class="control-label"></label>
                    <input id="SaleNumber" asp-for="SaleNumber" class="form-control" velo-validation-for="SaleNumber" />
                    <span Condition="Model.ErrorMessage != null" class="text-danger">@Model.ErrorMessage</span>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $("#SaleNumber").val("");
        $("#SaleNumber").focus();
    </script>
}
